@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Libre Baskerville', serif;*/


body{ font-family: 'Noto Sans KR', sans-serif; position: relative;/* 탑버튼 떄문에 */}
.container{ width: 1098px; margin: 0 auto; position: relative;}

/* vid_modal */
.vid_modal{ position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 110; background: rgba(0,0,0,0.5); display: none;}
.vid_modal i{ font-size: 60px; color: #fff; cursor: pointer; position: absolute; left: 50%; top: 50%; margin-left: 350px; margin-top: -300px; transition: all .3s;} 
.vid_modal i:hover{ color: #ccf;}
.vid_modal .inner_vid{ position: absolute; left: 50%; top: 50%; margin-left: -400px; margin-top: -225px;}

li.on a{ color: red;}
/* all_menu */
.all_menu{ position: fixed; width: 100%; height: 100%; box-sizing: border-box; padding-top: 120px; top: 0; left: 0; z-index: 100; background: url(../images/bg_gnb_all.png); background-size: cover; display: none;}
.all_menu ul.depth1{ width: 1000px; margin: 0 auto; overflow: hidden; letter-spacing: -1px; display: flex; text-align: center;} 
.all_menu ul.depth1>li{ width: 20%;}
.all_menu ul.depth1>li> a{ display: block; width: 100%; font-size: 24px; color: #f5f5f5; line-height: 5; border-bottom: 1px solid rgba(81,81,81,0.1);}
.all_menu ul.depth1>li> ul.depth2{ padding-top: 40px; width: 100%;}
.all_menu ul.depth1>li> ul.depth2>li{ line-height: 2.5; color: #f5f5f5; width: 100%; position: relative;}
.all_menu ul.depth1>li> ul.depth2>li>a{ display: block; width: 100%; box-sizing: border-box; padding-left: 10px; }
.all_menu ul.depth1>li> ul.depth2>li>a::before{ content: ''; width: 3px; height: 2px; background: red; position: absolute; left: 0; top: 19px; display: none;}
.all_menu ul.depth1>li> ul.depth2>li:hover>a::before{ display: block;}

/* header */
header{ width: 100%; height: 120px; font-size: 16px; color: #444343; position: fixed; z-index: 101; background: #fff;}
header h1{ width: 250px; height: 120px; text-indent: -9999999px; position: absolute; left: 50%; top: 0; transform: translateX(-50%); text-align: center;}
header h1 a{ display: block; width: 100%; height: 100%; background: url(../images/favicon_192.png) center no-repeat ; background-size: 210px;}
header nav ul{ display: flex;}
header nav ul li{ line-height: 120px; margin-right: 70px;}
header nav ul li:nth-child(4){ margin-left: 340px;}

header ul.l_box{ position: absolute; right: 50px; top: 45px;}
header ul.l_box li{ width: 70px; height: 26px; box-sizing: border-box; border: 1px solid #d7d7d7; background: #fff; line-height: 26px; padding-left: 10px; position: relative;/* 폰트어썸 움직ㅇ려고 */}
header ul.l_box li.bt0{ border-top: 0; display: none;}
header ul.l_box li i{ font-size: 12px; position: absolute; right: 10px; top: 8px; color: #ccc;}

header ul.ham{ width: 26px; height: 26px; position: absolute; right: 0; top: 45px; cursor: pointer;}
header ul.ham li{ width: 50%; height: 1px; background: #000; margin-bottom: 12px; margin-left: 50%;}
header ul.ham li:nth-child(2){width: 100%; margin-left: 0;}
header ul.ham2{ width: 26px; height: 36px; position: absolute;/* 컨테이너 기준 */ right: 0; top: 58px; cursor: pointer; display: none;}
header ul.ham2 li{ width: 120%; height: 1px; background: #000; margin-bottom: 12px; margin-left: 50%; position: absolute; left: -15px; top: 0;}
header ul.ham2 li:nth-child(1){ transform: rotate(45deg);}
header ul.ham2 li:nth-child(2){ transform: rotate(-45deg);}

/* main */
.contents{ width: 100%; padding-top: 120px;}

.contents .tit{ font-family: 'Raleway', sans-serif; overflow: hidden; display: flex; height: 50px;}
.contents .tit h2{ font-size: 30px; font-weight: 800;}
.contents .tit span{ font-size: 14px; display: block; margin-left: 35px; padding-top: 16px; color: #c3c0c0;}
/* main_banner */
.contents .main_banner{ width: 100%; height: 778px; position: relative; }
.contents .main_banner ul.main_slider{ width: 100%; height: 778px;}
.contents .main_banner ul.main_slider li{ width: 100%; height: 778px; background-position: center bottom; background-size: cover;}
.contents .main_banner ul.main_slider li.ms1{ background-image: url(../images/main_02-01.png);}
.contents .main_banner ul.main_slider li.ms2{ background-image: url(../images/main_02-02.png);}
.contents .main_banner ul.main_slider li.ms3{ background-image: url(../images/main_02-03.png);}
.contents .main_banner ul.main_slider li a{ display: block; width: 100%; height: 100%;}

.contents .main_banner .pager{ display: flex; position: absolute; left: 50%; transform: translateX(-50%); bottom: 80px;}
.contents .main_banner .pager a{ display: block; width: 10px; height: 10px; border: 1px solid #111; border-radius: 50%; margin: 15px; box-sizing: border-box; background: rgba(255, 255, 255,0.3);}
.contents .main_banner .pager a.active{ background: #111;}
.contents .main_banner .prev_next{ display: flex; position: absolute; left: 50%; transform: translateX(-50%); bottom: 10px;}
.contents .main_banner .prev_next a{ display: block; width: 60px; height: 60px; text-align: center; box-sizing: border-box; border: 2px solid rgba(1,1,1,0.7); color: #111; line-height: 54px; border-radius: 50%; font-size: 25px; margin: 5px; background-color: rgba(255, 255, 255,0.3);}
.contents .main_banner .prev_next a:hover{ background: #111; color: #fdd;}

/* event */
.contents .recommend{ width: 100%; height: 540px; background: #f8f8f8; position: relative; overflow: hidden;}
.contents .recommend section{ width: 528px; height: 400px; top: 170px; position: absolute; opacity: 0; transition: all 0.3s; overflow: hidden;}
.contents .recommend section.on{ opacity: 1; top: 70px;}
.contents .recommend h2{ background-image: url(../images/event_bg_txt.png); width: 13px; height: 400px; text-indent: -9999px; position: absolute; top: 70px; left: 50%; margin-left: -649px; }
.contents .recommend .new_p{ left: 0;}
.contents .recommend .new_p a{ display: block; width: 100%; height: 100%; background-image: url(../images/new_p.png); text-indent: -9999px; background-size: cover; transition: all .6s;}
.contents .recommend .new_p a:hover{ transform: scale(1.1);}
.contents .recommend .gift_b{ right: 0;}
.contents .recommend .gift_b a{ display: block; width: 100%; height: 100%; background-image: url(../images/gift_b.png); text-indent: -9999px; background-size: cover; transition: all .6s;}
.contents .recommend .gift_b a:hover{ transform: scale(1.1);}



/* event */
.contents .recommend{ width: 100%; height: 540px; background: #f8f8f8; position: relative; overflow: hidden;}
.contents .recommend section{ width: 528px; height: 400px; top: 170px; position: absolute; opacity: 0; transition: all 0.3s; overflow: hidden;}
.contents .recommend section.on{ opacity: 1; top:70px;}
.contents .recommend h2{ background-image: url(../images/event_bg_txt.png); width: 13px; height: 400px; text-indent: -9999px; position: absolute; top: 70px; left: 50%; margin-left: -694px;}
.contents .recommend .new_p{
    left: 0;
}
.contents .recommend .new_p a{
    display: block; width: 100%; height: 100%;
    background-image: url(../images/new_p.png);
    text-indent: -9999px;
    background-size: cover; transition: all 0.6s;
}
.contents .recommend .new_p a:hover{
    transform: scale(1.1);
}
.contents .recommend .gift_b{
    right: 0;
}
.contents .recommend .gift_b a{
    display: block; width: 100%; height: 100%;
    background-image: url(../images/gift_b.png);
    text-indent: -9999px;
    background-size: cover; transition: all 0.6s;
}
.contents .recommend .gift_b a:hover{  transform: scale(1.1);}

/* lineup */
.contents .line_up{ width: 100%; height: 1360px; position: relative; }
.contents .line_up .txt_bg{ width: 12px; height: 370px; background-image: url(../images/lineup_bg_txt.png); position: absolute; /* 라인업 기준 */ top: 90px; right: 50%; margin-right: -694px;}
.contents .line_up .container{ width: 1198px; height: 1510px; box-sizing: border-box; padding: 0 50px;}
.contents .line_up .container .tit{ padding-top: 68px; }

.contents .line_up .container .lu_txt{ margin-top: 130px;}
.contents .line_up .container .lu_txt p{ font-size: 14px; color: #a6a5a5; line-height: 1.8; font-weight: bold; letter-spacing: -0.5px;}
.contents .line_up .container .lu_txt b{ font-family: 'Raleway', sans-serif; font-size: 15px; font-weight: bold; border-bottom: 4px solid #333; padding-bottom: -1px; letter-spacing: -1px; padding-top: 66px; display: inline-block;}

.contents .line_up .container ul.img_box li{ position: absolute; opacity: 0; margin-left: -400px; transition: all .6s;}
.contents .line_up .container ul.img_box li.on{ opacity: 1; margin-left: 0;}
.contents .line_up .container ul.img_box li:nth-child(1){ width: 400px; height: 221px; left: 400px; top: 234px;}
.contents .line_up .container ul.img_box li:nth-child(2){ width: 298px; height: 349px; left: 0; top: 510px;}
.contents .line_up .container ul.img_box li:nth-child(3){ width: 285px; height: 349px; left: 650px; top: 793px;}
.contents .line_up .container ul.img_box li:nth-child(4){ width: 399px; height: 270px; left: 0; top: 1000px;}
.contents .line_up .container ul.img_box li a{ display: block; width: 100%; height: 100%; overflow: hidden;}
.contents .line_up .container ul.img_box li a img{ transition: all .6s;}
.contents .line_up .container ul.img_box li a:hover img{ transform: scale(1.1);}

.contents .line_up .container ul.txt_box li{ position: absolute; transition: all .6s; margin-top: 100px; opacity: 0;}
.contents .line_up .container ul.txt_box li.on{ margin-top: 0; opacity: 1;}
.contents .line_up .container ul.txt_box li:nth-child(1){ left: 882px; top: 350px;}
.contents .line_up .container ul.txt_box li:nth-child(2){ left: 374px; top: 680px;}
.contents .line_up .container ul.txt_box li:nth-child(3){ left: 974px; top: 960px;}
.contents .line_up .container ul.txt_box li:nth-child(4){ left: 404px; top: 1110px;}
.contents .line_up .container ul.txt_box li a em{ font-family: 'Raleway', sans-serif; font-size: 15px; color: #c0c0c0; display: block;}
.contents .line_up .container ul.txt_box li a h3{ font-size: 24px; color: #2c2c2c; padding-top: 28px; border-bottom: 1px solid #2c2c2c; display: inline-block; padding-bottom: 10px;}

/* video */
.contents .video{ width: 100%; height: 600px; background-image: url(../images/video_bg.png); background-size: cover; background-position: center center; position: relative; text-align: center;}
.contents .video h2{ background-image: url(../images/video_bg_txt.png); width: 12px; height: 63px; position: absolute; top: 130px; left: 50%; margin-left: -694px; text-indent: -99999px;}
.contents .video button{ width: 86px; height: 86px; border-radius: 50%; background: transparent; border: 2px solid #fff; padding-left: 12px; display: block; position: absolute; left: 50%; top: 50%; transform: translateX(-50%);}
.contents .video button i{ font-size: 40px; color: #fff;}
.contents .video b{ display: block; font-size: 30px; letter-spacing: 15px; color: #fff; padding-top: 30px;}
.contents .video h3{ font-family: 'Libre Baskerville', serif; color: #000; font-size: 50px; font-weight: bold; margin-top: 60px;}
.contents .video p{ margin-top: 25px; font-size: 18px; color: #b2b2b2; letter-spacing: -1px; }


/* product */
.contents .product{ width: 100%; height: 1206px; background: #f8f8f8; position: relative;}
.contents .product .txt_bg{ position: absolute; right: 50%; top: 350px; margin-right: -694px; background: url(../images/product_bg_txt.png); width: 12px; height: 353px;}
.contents .product .tit{ padding-top: 170px; padding-bottom: 110px;}
.contents .product ul{ width: 100%; display: flex; flex-wrap: wrap;}
.contents .product ul li{ width: 244px; height: 350px; margin-right: 40px; margin-bottom: 100px; margin-top: 50px; opacity: 0;}
.contents .product ul li:nth-child(4n){ margin-right: 0;}
.contents .product ul li.on{ animation: prAni 0.6s; animation-fill-mode: forwards;}
@keyframes prAni{
    0%{ margin-top: 50px; opacity: 0;}
    100%{ margin-top: 0; opacity: 1;}
}
.contents .product ul li a{ display: block; width: 100%; height: 100%;}
.contents .product ul li a span.box{ display: block; width: 100%; height: 264px; box-sizing: border-box; border: 2px solid transparent; overflow: hidden; transition: all .5s;}
.contents .product ul li:hover a span.box{ border: 2px solid #555;}
.contents .product ul li a span.box img{ transform: scale(1); transition: all .5s;}
.contents .product ul li:hover a span.box img{ transform: scale(1.1);}
.contents .product ul li a h3{ font-size: 14px; padding-top: 40px; color: #090909; font-weight: bold; letter-spacing: -1px;}
.contents .product ul li a h3 span{ font-size: 15px; color: #b0b0b0; margin-left: 10px; font-family: 'Raleway', sans-serif;}
.contents .product ul li a p{ font-size: 14px; color: #292929; letter-spacing: -2px; margin-top: 20px; line-height: 1.5;}

/* news */
.contents .news{ width: 100%; height: 570px; position: relative; overflow: hidden; }
.contents .news .txt_bg{ width: 12px; height: 318px; background-image: url(../images/news_bg_txt.png); position: absolute; top: 155px; left: 50%; margin-left: -694px;}
.contents .news h2{ text-align: center; font-family: 'Raleway', sans-serif; font-size: 32px; letter-spacing: 15px; padding-top: 80px; padding-bottom: 70px;}
.contents .news .news_con{ width: 100%; height: 85px; box-sizing: border-box; border-top: 1px solid #1e191b; border-bottom: 1px solid #e5e5e5; line-height: 83px;}
.contents .news .news_con a{ display: flex; justify-content: space-around; width: 100%; height: 100%; color: rgba(0,0,0,0.7); transition: all .5s;}
.contents .news .news_con a:hover{ background-color: #f8f8f8; color: rgba(0,0,0,1);}

.contents .news .news_con .con{ width: 63%; padding-left: 30px; box-sizing: border-box;}
.contents .news .news_con .day{ width: 32%;}
.contents .news .news_con .num{ width: 5%;}

/* footer */
footer{ width: 100%; height: 372px; background: #1e191b; color: #fff; box-sizing: border-box; padding-top: 80px; overflow: hidden;}
footer .container{ display: flex; }
footer .contact_us{ font-size: 17px; }
footer .contact_us span{ font-weight: bold;}
footer .contact_us p{ font-size: 38px; margin: 30px 0;}
footer .contact_us b{ color: #6c6c6c;}
footer .contact_us i{ color: #aaa8ab;}
footer .contact_us button{ display: block; font-size: 14px; width: 120px; height: 44px; background-color: transparent; color: #fff; border: 1px solid #fff; margin-top: 40px; }
footer .con{ margin-left: 120px;} 
footer .con p{ font-weight: bold; font-size: 16px; }
footer .con ul{ font-size: 14px; width: 350px; overflow: hidden; margin-top: 26px; margin-bottom: 68px; }
footer .con ul li{ float: left; letter-spacing: -1px; line-height: 1.8; font-weight: bold;}
footer .con ul li.ml{ margin-left: 10px;}
footer .con ul li:nth-child(even){ color: #aaa8ab;}
footer .con ul li.clear{ clear: both;}
footer .con em{ font-size: 13px; color: #616061; font-weight: bold; } 
footer .family{ margin-left: auto;/* 플렉스일때 맨 오른쪽으로 보내기 가능 left 주니까 */ position: relative; width: 200px; height: 46px;}
footer .family p{ width: 200px; height: 46px; box-sizing: border-box; border: 1px solid #615f5f; font-size: 14px; color: #fff; padding-left: 20px; line-height: 44px; font-weight: bold;}
footer .family p i{ display: inline-block; margin-left: 60px; font-size: 14px; color: #615f5f; }
footer .family p.none{ display: none; position: absolute; left: 0 ;bottom: 46px; background: #fdfdfd; color: #666;}
footer .family p.none a{ width: 100%; height: 100%; display: block;}

aside.top{ width: 40px; height: 40px; border-radius: 50%; background: #555; color: #fff; font-size: 20px; text-align: center; line-height: 35px; position: absolute;/* 바디기준 */ bottom: 352px; right: 50%; margin-right: -549px; cursor: pointer;}

